@theme {
  --color-theme: #ffffff;          /* sidebar background */
  --color-primary: #4F46E5;
  --color-primary-lite9: #e5f0fb;
  --color-bg-grey: #333132;
  --color-grey90: #434E58;
   --color-grey100: #171725;
}

